@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* basic for entire website
   * :root folder  */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.bg-light-blue{
    background-color: rgb(4, 146, 228);
}

.pl-6{
    padding-left: 600px;
}

#head{
    background: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* bg img fixed and top layers will move */
    /* parallax effect */
    min-height: 700px;
    /* position: relative; */
}

#head .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height:700px;
    background-color:rgba(0,0,0,0.7) ;
    /* z-index: 1; */
}

.head-content{
    padding-top: 150px;
}

#head .fa-check{
    color: rgb(4, 158, 158);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}


#create1 .fa-check{
    color: rgb(4, 158, 158);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.bg-darker{
    background-color: rgb(22, 22, 22);
}

#explore .fa-check{
    color:white;
    background-color:#333;
    padding: 5px;
    border-radius: 5px;
}

#share1 .fa-check{
    color:white;
    background-color:#333;
    padding: 5px;
    border-radius: 5px;
}

